.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.Block {
  display: block;
    
}
table {
  border: 1px solid black;
  margin-top: 25px;
  margin-right: 25px;
  color: aliceblue;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}