* {
    font-size: x-large;
}

.tab {
    padding: 10px;
}

.base {
    cursor: default;  
    margin: auto;
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 30px;
}

.calHead {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: lightgrey;
    border-radius: 10px 10px 0px 0px;
}

.calBody {
    margin: auto;
}

.calBody td {
    padding: 5px;
    text-align: center;
}

thead {
    background: lightgray;
}

thead td {
    background: lightgrey;
}

.NowDay {
    background:#9fc4ee ;
}